<header>
<h1><%= current_user.last_name %>さんの</h1>
 <h2><%= Time.now.since(2.weeks).monday.strftime('%m/%d') %>(月)から一週間の予定を教えて下さい。</h2>
 <h3>(締切は<%= Time.now.next_week.monday.-(1.day).strftime('%m/%d') %>(日)です。)</h3>
</header>
 <%= form_with model: @shift, url: shifts_path(current_user.id), class:'shift-main', local: true do |f| %>
    <%= render 'layouts/error_messages', model: @shift %> 
    <ul>
     <li>
      <div class='form-text-wrap'>
       <label class="form-text">日付</label>
       <span class="indispensable">(必須)</span>
      </div>
      <div class="datetime">
       <%= f.date_select :work_day, date_separator: "月", use_month_numbers: true, discard_year: true, default: Time.now.since(2.weeks).monday, class:"input-default", id:"work_day" %>日
      </div>
     </li>
     <li>
      <div class='form-text-wrap'>
       <label class="form-text">出勤時間</label>
       <span class="indispensable">(必須)</span>
      </div>
      <div class="datetime">
       <%= f.time_select :start_time, ignore_date: true, include_blank: "--", start_hour: 9, end_hour: 22, minute_step: 15, class:"input-default", id:"start_time" %>から
      </div>
     </li>
     <li>
      <div class='form-text-wrap'>
       <label class="form-text">退勤時間</label>
       <span class="indispensable">(必須)</span>
      </div>
      <div class="datetime">
       <%= f.time_select :end_time, ignore_date: true, include_blank: "--", start_hour: 11, end_hour: 24, minute_step: 15, class:"input-default", id:"end_time" %>まで
      </div>
     </li>
      <li>
        <div class='form-text-wrap'>
          <label class="form-text">休憩開始</label>
          <span class="indispensable">(任意)</span>
        </div>
        <div class="datetime">
          <%= f.time_select :break_start, ignore_date: true, include_blank: "--", start_hour: 10, end_hour: 21, minute_step: 15, class:"input-default", id:"break_start" %>
        </div>
      </li>
      <li>
        <div class='form-text-wrap'>
          <label class="form-text">休憩終了</label>
          <span class="indispensable">(任意)</span>
        </div>
        <div class="datetime">
          <%= f.time_select :break_end,ignore_date: true, include_blank: "--", start_hour: 11, end_hour: 22, minute_step: 15, class:"input-default", id:"break_end" %>
        </div>
      </li>
    </ul> 
    <div class='register-btn'>
      <%= f.submit "予定提出", class:"register-red-btn" %>
    </div>
 <% end %>

<h3>提出済みの予定はこちらです。</h3>
 <% @shift = Shift.where(user_id: current_user.id) %>
  <% @shift.each do |shift| %>
    <li>
     <% if shift.work_day > Time.now %>
        <%= shift.work_day.strftime('%m/%d') %>
        <%= shift.start_time.strftime('%H:%M') %>〜
        <%= shift.end_time.strftime('%H:%M') %>
      <% if shift&.break_start.present? %>
        休憩<%= shift.break_start.strftime('%H:%M') %>〜
        <%= shift.break_end.strftime('%H:%M') %>
      <% end %> 
     <% end %>

      <% if shift.work_day > Time.now.since(2.weeks).monday.-(1.day) %>
        <%= link_to '変更する', edit_user_path(shift.id), method: :get, class:"register-red-btn" %>
        <%= link_to '取り消す', user_path(shift.id), method: :delete, class:"register-red-btn" %>
      <% end %>
    </li>
  <% end %>  
<li><%= link_to 'トップページへ戻る', shifts_path(@shift), class: "btn" %></li>
