<header>
<h1 class="title">はたらっく</h1>
<h3 class="intro">〜 このアプリはみんなの「はたらく」を「らく」にします 〜</h3>

</header>
    <ul class='lists-right'>
      <% if user_signed_in? && current_user.admin? %>
       <li><%= link_to '予定確認', shift_path(@shift), class: "btn" %></li>
       <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn" %></li>
      <% elsif user_signed_in? %>
       <li><%= link_to current_user.last_name+'さんのページへ', new_user_path(current_user.id), class: "btn" %></li> 
       <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn" %></li>
      <% else %>
       <li><%= link_to 'ログイン', user_session_path, class: "btn" %></li>
       <li><%= link_to '新規登録', new_user_registration_path, class: "btn" %></li>
      <% end %>
      
    </ul>
    